@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/vazirmatn-arabic-400-normal-DMZFCm7K.woff2)format("woff2"), url(./fonts/vazirmatn-arabic-400-normal-C4W5XURk.woff)format("woff");
    unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/vazirmatn-latin-ext-400-normal-BdGhO0lm.woff2)format("woff2"), url(./fonts/vazirmatn-latin-ext-400-normal-DPxMaNjI.woff)format("woff");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/vazirmatn-latin-400-normal-BT_DHTc7.woff2)format("woff2"), url(./fonts/vazirmatn-latin-400-normal-GKyMcI03.woff)format("woff");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../fonts/vazirmatn-arabic-500-normal-C_lbnnKa.woff2)format("woff2"), url(./fonts/vazirmatn-arabic-500-normal-Dqq3-xo3.woff)format("woff");
    unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../fonts/vazirmatn-latin-ext-500-normal-CgxvvVrG.woff2)format("woff2"), url(./fonts/vazirmatn-latin-ext-500-normal-4XgegWYb.woff)format("woff");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(../fonts/vazirmatn-latin-500-normal-6zZzgpg4.woff2)format("woff2"), url(./fonts/vazirmatn-latin-500-normal-Bg_BALlD.woff)format("woff");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/vazirmatn-arabic-700-normal-Dge_DOjm.woff2)format("woff2"), url(./fonts/vazirmatn-arabic-700-normal-B5nPuCFv.woff)format("woff");
    unicode-range: U+6??, U+750-77F, U+870-88E, U+890-891, U+897-8E1, U+8E3-8FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/vazirmatn-latin-ext-700-normal-BfoXmNMx.woff2)format("woff2"), url(./fonts/vazirmatn-latin-ext-700-normal-DMYLqBto.woff)format("woff");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Vazirmatn;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/vazirmatn-latin-700-normal-9BlbvDRV.woff2)format("woff2"), url(./fonts/vazirmatn-latin-700-normal-DrB0PBU6.woff)format("woff");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

:root {
    --main-bg-color: #9c27b0;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 65.2%;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    direction: rtl;
}

body {
    height: 100%;
    background: linear-gradient(160deg, #f8faff 0%, #eef4ff 40%, #fdf4ff 100%);
    color: #1d2129;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    perspective: 1500px;
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 3.5em;
    text-align: center;
    font-family: 'Vazirmatn', sans-serif;
}

.version {
    position: absolute;
    bottom: 1em;
    left: 2em;
    border-radius: 40px;
    background: #9c27b0;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    padding: 0.8em 2em;
    letter-spacing: 0;
    transition: transform 80ms ease-in;
}

form input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 1.4em;
    direction: rtl;
    text-align: right;
    font-family: 'Vazirmatn', sans-serif;
}

span {
    color: #333;
    font-size: 1.4em;
    display: inline-block;
    margin: 15px auto;
    font-weight: 100;
    font-family: 'Vazirmatn', sans-serif;
}

span.remember {
    float: right;
}

span.remember::before {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #999;
    vertical-align: top;
    margin-left: 4px;
}

span.forget {
    float: left;
}

span.clearfix {
    clear: both;
    display: table;
}

span.loginwith {
    display: block;
    width: 100%;
    margin-top: 1em;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.loginwith::before {
    content: "";
    display: inline-block;
    width: 42%;
    height: 1px;
    background: #aaa;
    vertical-align: middle;
    margin-left: 5%;
}

span.loginwith::after {
    content: "";
    display: inline-block;
    width: 45%;
    height: 1px;
    background: #aaa;
    vertical-align: middle;
    margin-right: 5%;
}

span.copy {
    display: block;
    position: absolute;
    bottom: 0;
    font-size: 1em;
}

button,
a.btn,
a.button {
    display: block;
    margin: 1em auto;
    border-radius: 40px;
    /* border: 1px solid #9c27b0; */
    /* background: #9c27b0; */
    background: linear-gradient(135deg, #2563eb, #4f46e5);
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.8em 2em;
    letter-spacing: 0;
    text-transform: none;
    transition: transform 80ms ease-in;
    font-family: 'Vazirmatn', sans-serif;
}

a.border-white {
    border: 1px solid white;
}

button svg {
    vertical-align: middle;
}

button:hover {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

#container {
    width: 95%;
    max-width: 800px;
    height: 500px;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 14px 28px -10px rgba(0, 0, 0, 0.1), 0 10px 10px -10px rgba(0, 0, 0, 0.02);
    transform-style: preserve-3d;
}

#container>div {
    position: absolute;
    width: 50%;
    min-width: 350px;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    padding: 2em 4em;
    text-align: center;
}

.content p {
    font-size: 1.4em;
    font-family: 'Vazirmatn', sans-serif;
}

.login {
    right: 0;
    background: #FAFAFA;
    border-radius: 0 20px 20px 0;
}

.login button,
.register button {
    width: 100%;
    border: none;
}

.login svg {
    margin: 1em;
    stroke: #999;
}

.register {
    left: 0;
    z-index: 1;
    border-radius: 20px 0 0 20px;
    background: #FAFAFA;
}

.register svg {
    margin: 1em;
    stroke: #999;
}

.page {
    left: 0;
    color: #fff;
    border-radius: 20px 0 0 20px;
    transform-origin: right center;
    transition: -webkit-animation 1s linear;
    transition: animation 1s linear;
    transition: animation 1s linear, -webkit-animation 1s linear;
}

.page button,
.page a .button {
    border-color: #fff;
    background: transparent;
}

.page p {
    margin: 2em auto;
}

.front {
    /* background: linear-gradient(-45deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0 / 100%; */
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    z-index: 3;
}

.back {
    /* background: linear-gradient(135deg, var(--main-bg-color) 0%, #1d2129 100%) no-repeat 0 0 / 100%; */
    background: linear-gradient(135deg, #2563eb, #7c3aed);
    z-index: 2;
}

.back .content {
    transform: rotateY(-180deg);
}

.active .front {
    -webkit-animation: rot-front 0.6s ease-in-out normal forwards;
    animation: rot-front 0.6s ease-in-out normal forwards;
}

.active .back {
    -webkit-animation: rot-back 0.6s ease-in-out normal forwards;
    animation: rot-back 0.6s ease-in-out normal forwards;
}

.close .front {
    -webkit-animation: close-rot-front 0.6s ease-in-out normal forwards;
    animation: close-rot-front 0.6s ease-in-out normal forwards;
}

.close .back {
    -webkit-animation: close-rot-back 0.6s ease-in-out normal forwards;
    animation: close-rot-back 0.6s ease-in-out normal forwards;
}

.error-text {
    color: red;
    font-size: 11px;
    margin: 2px 0px;
}

@-webkit-keyframes rot-front {
    from {
        transform: translateZ(2px) rotateY(0deg);
    }

    to {
        transform: translateZ(1px) rotateY(180deg);
    }
}

@keyframes rot-front {
    from {
        transform: translateZ(2px) rotateY(0deg);
    }

    to {
        transform: translateZ(1px) rotateY(180deg);
    }
}

@-webkit-keyframes close-rot-front {
    from {
        transform: translateZ(1px) rotateY(180deg);
    }

    to {
        transform: translateZ(2px) rotateY(0deg);
    }
}

@keyframes close-rot-front {
    from {
        transform: translateZ(1px) rotateY(180deg);
    }

    to {
        transform: translateZ(2px) rotateY(0deg);
    }
}

@-webkit-keyframes rot-back {
    from {
        transform: translateZ(1px) rotateY(0deg);
    }

    to {
        transform: translateZ(2px) rotateY(180deg);
    }
}

@keyframes rot-back {
    from {
        transform: translateZ(1px) rotateY(0deg);
    }

    to {
        transform: translateZ(2px) rotateY(180deg);
    }
}

@-webkit-keyframes close-rot-back {
    from {
        transform: translateZ(2px) rotateY(180deg);
    }

    to {
        transform: translateZ(1px) rotateY(0deg);
    }
}

@keyframes close-rot-back {
    from {
        transform: translateZ(2px) rotateY(180deg);
    }

    to {
        transform: translateZ(1px) rotateY(0deg);
    }
}

.active .register .content {
    -webkit-animation: show 0.7s ease-in-out normal forwards;
    animation: show 0.7s ease-in-out normal forwards;
}

.close .register .content {
    -webkit-animation: hide 0.7s ease-in-out normal forwards;
    animation: hide 0.7s ease-in-out normal forwards;
}

.active .login .content {
    -webkit-animation: hide 0.7s ease-in-out normal forwards;
    animation: hide 0.7s ease-in-out normal forwards;
}

.close .login .content {
    -webkit-animation: show 0.7s ease-in-out normal forwards;
    animation: show 0.7s ease-in-out normal forwards;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 0.99;
        transform: scale(0.99);
    }
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 0.99;
        transform: scale(0.99);
    }
}

@-webkit-keyframes hide {
    from {
        opacity: 0.99;
        transform: scale(0.99);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes hide {
    from {
        opacity: 0.99;
        transform: scale(0.99);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}
